<!--suppress ALL -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-item.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">
<link rel="import" href="../../../bower_components/vaadin-date-picker/src/vaadin-date-picker.html">
<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../bower_components/vaadin-checkbox/src/vaadin-checkbox.html">

<link rel="import" href="../../components/buttons-bar.html">
<link rel="import" href="../../components/utils-mixin.html">
<!--<link rel="import" href="order-item-editor.html">-->

<link rel="import" href="../../../styles/shared-styles.html">

<link rel="import" href="invoice/invoice-editor.html">
<!--<link rel="import" href="../../../bower_components/vaadin-dialog/src/vaadin-dialog.html">-->

<dom-module id="order-editor">

    <template>
<style include="shared-styles">
            :host {
                    display: flex;
                    flex-direction: column;
                    flex: auto;
            }

            .meta-row {
                display: flex;
                justify-content: space-between;
                padding-bottom: var(--lumo-space-s);
            }

            .dim {
                color: var(--lumo-secondary-text-color);
                text-align: right;
                white-space: nowrap;
                line-height: 2.5em;
            }

            .status {
                width: 10em;
            }

            .history-line {
                margin: var(--lumo-space-xs) 0;
            }

            .secondary {
                font-size: var(--lumo-font-size-xs);
                line-height: var(--lumo-font-size-xl);
            }

      .comment {
        font-size: var(--lumo-font-size-s);
      }
        </style>
<div class="scrollable flex1" id="main">
 <h2 id="title">Новый заказ</h2>
 <div class="meta-row" id="metaContainer">
  <!--<vaadin-combo-box class="status" id="status">Статус</vaadin-combo-box>-->
  <span class="dim">Заказ # <span id="orderNumber"></span></span>
  <span class="dim">Контрагент:<span id="customer" style="padding-left:0.2em; font-weight: bold;"></span></span>
 </div>
 <!--<vaadin-dialog id="dialog" on-opened-changed="_onDialogOpen"></vaadin-dialog>-->
 <template>
  <div>
    Content 
  </div>
 </template>
 <vaadin-form-layout id="form1">
  <vaadin-form-layout id="form2">
   <vaadin-date-picker label="Дата заказа" id="dueDate" stop-keyboard-event-propagation></vaadin-date-picker>
   <vaadin-combo-box id="status" label="Статус заказа" colspan="2">
    <iron-icon slot="prefix" icon="vaadin:clock"></iron-icon>
   </vaadin-combo-box>
   <vaadin-combo-box id="payment" label="Форма оплаты" colspan="2">
    <iron-icon slot="prefix" icon="vaadin:cash"></iron-icon>
   </vaadin-combo-box>
   <vaadin-form-item>
    <label slot="label"></label>
   </vaadin-form-item>
   <div id="invoiceContainer">
    <vaadin-checkbox id="needInvoice">
      Ввести счет 
    </vaadin-checkbox>
   </div>
   <vaadin-combo-box items="[[items]]" id="pricePlan" label="План цен"></vaadin-combo-box>
  </vaadin-form-layout>
  <vaadin-form-layout id="form3" colspan="3">
   <!--<vaadin-text-field id="customerName" label="Контрагент" colspan="2">-->
   <!--<iron-icon slot="prefix" icon="vaadin:user"></iron-icon>-->
   <!--</vaadin-text-field>-->
   <!--<vaadin-text-field id="customerPhone" label="Phone number">-->
   <!--<iron-icon slot="prefix" icon="vaadin:phone"></iron-icon>-->
   <!--</vaadin-text-field>-->
   <vaadin-form-item colspan="3">
    <label slot="label">Позиции</label>
    <div id="itemsContainer" colspan="3"></div>
   </vaadin-form-item>
   <vaadin-form-item id="history">
    <label slot="label">История</label>
    <template is="dom-repeat" items="[[item.history]]" as="event">
     <div class="history-line" label-position="top">
      <span class="bold" style="font-weight:bold">[[event.createdBy.firstName]]</span>
      <span class="secondary">[[event.timestamp]]</span>
     </div>
     <div class="comment">
       [[event.message]] 
     </div>
    </template>
   </vaadin-form-item>
   <vaadin-form-item colspan="2">
    <label slot="label">Платежи</label>
    <!--<vaadin-grid items="[[items]]" id="gridPays" height-by-rows>-->
    <!--<vaadin-grid-column width="50px"></vaadin-grid-column>-->
    <!--<vaadin-grid-column width="70px"></vaadin-grid-column>-->
    <!--<vaadin-grid-column width="70px"></vaadin-grid-column>-->
    <!--</vaadin-grid>-->
    <!--<vaadin-horizontal-layout>-->
    <!--<vaadin-button id="addPay" class="self-start" theme="primary">-->
    <!--<iron-icon icon="vaadin:plus"></iron-icon>-->
    <!--</vaadin-button>-->
    <!--<vaadin-button id="deletePay" class="self-start">-->
    <!--<iron-icon icon="vaadin:minus"></iron-icon>-->
    <!--</vaadin-button>-->
    <!--</vaadin-horizontal-layout>-->
    <div id="paysContainer"></div>
   </vaadin-form-item>
  </vaadin-form-layout>
 </vaadin-form-layout>
</div>
<!--<form-buttons-bar id="buttons"></form-buttons-bar>-->
<buttons-bar id="footer" no-scroll$="[[niScroll]]">
 <vaadin-button slot="left" id="cancel">
   Отменить 
 </vaadin-button>
 <vaadin-button slot="left" id="delete" theme="error">
   Удалить 
 </vaadin-button>
 <vaadin-button>
   Button 
 </vaadin-button>
 <div slot="info" id="divSpec">
  <vaadin-button id="specBtn" style="min-width: 2em; padding: 0; align-self: flex-start;" theme="success" property="">
   <iron-icon icon="vaadin:print" slot=""></iron-icon>
  </vaadin-button>
 </div>
 <div slot="info" class="total">
   Сумма: [[totalPrice]] 
 </div>
 <vaadin-button slot="right" id="save" theme="primary">
   Сохранить 
  <iron-icon icon="lumo:checkmark" slot="suffix"></iron-icon>
 </vaadin-button>
</buttons-bar>
</template>

    <script>
        class OrderEditor extends window.ScrollShadowMixin(Polymer.Element) {
            static get is(){
                return 'order-editor';
            }

            static get properties(){
                return {
                    status: {
                        type: String,
                        observer: '_onStatusChange'
                    },
                    item: {
                        type: Object
                    }
        
                };
            }

            ready() {
        super.ready();

        // Not using attributes since Designer does not support single-quote attributes
        this.$.form1.responsiveSteps = [
          {columns: 1, labelsPosition: 'top'},
          {minWidth: '600px', columns: 4, labelsPosition: 'top'}
        ];
        this.$.form2.responsiveSteps = [
          {columns: 1, labelsPosition: 'top'},
          {minWidth: '360px', columns: 2, labelsPosition: 'top'}
        ];
        this.$.form3.responsiveSteps = [
          {columns: 1, labelsPosition: 'top'},
          {minWidth: '500px', columns: 3, labelsPosition: 'top'}
        ];
      }

      _onStatusChange() {
        const status = this.status ? this.status.toLowerCase() : this.status;
        this.$.status.$.input.setAttribute('status', status);
      }

      // Workaround for styling the dialog content https://github.com/vaadin/vaadin-dialog-flow/issues/69
            _onDialogOpen(e) {
                if (!e.detail.value) {
                    return;
                }
                var content = this.$.dialog.$.overlay.content;
                content.querySelector('flow-component-renderer').setAttribute('theme', 'dialog');
            }

      }

    customElements.define(OrderEditor.is, OrderEditor);
    </script>

</dom-module>