<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">
<link rel="import" href="../../../../bower_components/vaadin-item/src/vaadin-item.html">
<link rel="import" href="../../../components/buttons-bar.html">
<link rel="import" href="../../../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../../../bower_components/vaadin-radio-button/src/vaadin-radio-group.html">
<link rel="import" href="../../../../bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">
<link rel="import" href="../../../components/amount-field.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../components/selected-dates.html">
<link rel="import" href="../../../components/price-item-field.html">

<dom-module id="order-items-editor">
    <template>
<style include="shared-styles">
    :host {
        <!--display: flex;
        flex-direction: column;
        flex: auto;-->
        display: block;
    }
.meta-row {
                display: flex;
                justify-content: space-between;
                padding-bottom: var(--lumo-space-s);
            }

 .block {

    
 }

 .h5 {
        margin-top: var(--lumo-space-m);
        margin-bottom: var(--lumo-space-s);
}


</style>
<div class="meta-row">
 <vaadin-item>
  <vaadin-combo-box items="[[items]]" id="pricePlan" label="План цен"></vaadin-combo-box>
 </vaadin-item>
</div>
<div id="main" class="scrollable flex1">
 <vaadin-form-layout id="form1">
  <vaadin-form-layout id="form2">
   <price-item-field id="priceField"></price-item-field>
   <vaadin-combo-box id="service" label="Вид услуги"></vaadin-combo-box>
   <vaadin-combo-box id="unit" label="Ед. изм."></vaadin-combo-box>
   <vaadin-combo-box id="price" label="Цена"></vaadin-combo-box>
   <h5 class="h5">Скидка</h5>
   <vaadin-radio-group value="value" style="font-size: var(--lumo-font-size-xs);" id="discount"></vaadin-radio-group>
  </vaadin-form-layout>
  <vaadin-form-layout id="form3">
   <label style="font-size: var(--lumo-font-size-xs);">Даты заказа</label>
   <selected-dates id="dates"></selected-dates>
   <vaadin-grid items="[[items]]" id="grid"></vaadin-grid>
  </vaadin-form-layout>
 </vaadin-form-layout>
 <div id="selectedDates" style="width: 40em; height: 35em;font-size:0.8em;">
  <span id="selected"></span>
 </div>
 <vaadin-horizontal-layout>
  <div id="dimensionsContainer"></div>
  <amount-field id="amount" max="9007199254740991" label="Количество"></amount-field>
  <div id="totalPrice">
    Сумма: [[totalPrice]] 
  </div>
 </vaadin-horizontal-layout>
 <buttons-bar>
  <vaadin-button id="add" theme="primary" slot="left">
    Добавить 
  </vaadin-button>
  <vaadin-button theme="error" slot="right" id="delete">
    Удалить 
  </vaadin-button>
 </buttons-bar>
</div>
</template>

    <script>
        class OrderItemsEditor extends Polymer.Element {
            static get is() {
                return 'order-items-editor';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }

            ready() {
        super.ready();

        // Not using attributes since Designer does not support single-quote attributes
        this.$.form1.responsiveSteps = [
          {columns: 1, labelsPosition: 'top'},
          {minWidth: '600px', columns: 4, labelsPosition: 'top'}
        ];
        this.$.form2.responsiveSteps = [
          {columns: 1, labelsPosition: 'top'},
          {minWidth: '360px', columns: 2, labelsPosition: 'top'}
        ];
        this.$.form3.responsiveSteps = [
          {columns: 1, labelsPosition: 'top'},
          {minWidth: '500px', columns: 3, labelsPosition: 'top'}
        ];
      }
        }
        customElements.define(OrderItemsEditor.is, OrderItemsEditor);
    </script>
</dom-module>