<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../components/buttons-bar.html">
<link rel="import" href="../../../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../../../bower_components/vaadin-radio-button/src/vaadin-radio-group.html">
<link rel="import" href="../../../../bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">
<link rel="import" href="../../../components/amount-field.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">
<link rel="import" href="../../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../../bower_components/vaadin-form-layout/src/vaadin-form-item.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../components/selected-dates.html">
<link rel="import" href="../../../../bower_components/vaadin-radio-button/src/vaadin-radio-button.html">

<dom-module id="order-items-editor">
    <template>
<style include="shared-styles">
    :host {
        display: flex;
        flex-direction: column;
        flex: auto;
    }
       .meta-row {
                display: flex;
                justify-content: space-between;
                padding-bottom: var(--lumo-space-s);
            }

        .block {
    
        }

        .h5 {
             margin-top: var(--lumo-space-m);
             margin-bottom: var(--lumo-space-s);
        }
      .dim {
        color: var(--lumo-secondary-text-color);
        text-align: left;
        white-space: nowrap;
        line-height: 2.5em;
      }
      .status {
             width: 100%;
         }

         .service {
             width: 18em;
         }

         .dates {
            border-top:1px solid var(--lumo-contrast-30pct);
            padding:0.5em;
         }

         .small-font{
            font-size: var(--lumo-font-size-s);
         }

         .label {
            color: var(--lumo-secondary-text-color);
            font-weight: bold;
         }





        </style>
<div id="main" class="scrollable flex1">
 <h2 id="title">Новая позиция заказа</h2>
 <div id="metaContainer" class="dim">
  <span>Позиция #<span id="ItemId"></span></span>
 </div>
 <vaadin-form-layout id="form1">
  <vaadin-form-layout id="form2" colspan="7">
   <vaadin-form-item colspan="16">
    <vaadin-combo-box items="[[items]]" id="service" style="margin-right:1em;" label="Услуга" colspan=""></vaadin-combo-box>
    <vaadin-combo-box items="[[items]]" id="unit" label="Ед. измерения" colspan=""></vaadin-combo-box>
   </vaadin-form-item>
   <vaadin-form-item colspan="16" style="margin-top:0;">
    <vaadin-combo-box items="[[items]]" class="status" id="price" label="Цена" property="" property1="" property2=""></vaadin-combo-box>
   </vaadin-form-item>
   <vaadin-form-item colspan="16">
    <vaadin-text-field id="amount" label="Количество" colspan="" style="width:7em;"></vaadin-text-field>
    <vaadin-text-field id="summ" label="Сумма" colspan="" class="self-start" style="width:9em;"></vaadin-text-field>
    <vaadin-button id="autosum" colspan="" theme="success" class="self-start">
      [[autosum]] 
    </vaadin-button>
   </vaadin-form-item>
   <vaadin-form-item colspan="4">
    <span colspan="4" class="small-font label">Скидка</span>
    <vaadin-radio-group value="value" id="discount" property="" class="small-font" colspan="4">
     <vaadin-radio-button value="value" checked>
       Нет 
     </vaadin-radio-button>
     <vaadin-radio-button value="value">
       10% 
     </vaadin-radio-button>
     <vaadin-radio-button value="value">
       20% 
     </vaadin-radio-button>
     <vaadin-radio-button value="value">
       30% 
     </vaadin-radio-button>
    </vaadin-radio-group>
   </vaadin-form-item>
   <vaadin-form-item class="meta-row" colspan="12">
    <div>
     <span id="selected" class="label small-font"></span>
     <selected-dates id="dates" class="dates" colspan="12"></selected-dates>
    </div>
   </vaadin-form-item>
  </vaadin-form-layout>
  <vaadin-form-layout id="form3" colspan="5">
   <div></div>
   <label style="font-size: var(--lumo-font-size-xs);">Даты заказа</label>
   <vaadin-grid items="[[items]]" id="grid" style="font-size: var(--lumo-font-size-s);" property=""></vaadin-grid>
  </vaadin-form-layout>
 </vaadin-form-layout>
 <!--<vaadin-horizontal-layout>-->
 <!--<div id="dimensionsContainer"></div>-->
 <!--<amount-field id="amount" max="9007199254740991" label="Количество"></amount-field>-->
 <!--<div id="totalPrice">-->
 <!--Сумма: [[totalPrice]] -->
 <!--</div>-->
 <!--</vaadin-horizontal-layout>-->
 <buttons-bar>
  <vaadin-button id="add" theme="primary" slot="left">
    [[buttonText]] 
  </vaadin-button>
  <vaadin-button id="cancel" slot="left">
    Отменить 
  </vaadin-button>
  <vaadin-button theme="error" slot="right" id="delete">
    Удалить 
  </vaadin-button>
 </buttons-bar>
</div>
</template>

    <script>
        class OrderItemsEditor extends Polymer.Element {
            static get is() {
                return 'order-items-editor';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                    buttonText: {
                    type: String
                    },
                    autosum: {
                    type: String
                    }

                };
            }

            ready() {
        super.ready();

        // Not using attributes since Designer does not support single-quote attributes
        this.$.form1.responsiveSteps = [
          {columns: 1, labelsPosition: 'top'},
          {minWidth: '600px', columns: 12}
        ];
        this.$.form2.responsiveSteps = [
          {columns: 1, labelsPosition: 'top'},
          {minWidth: '360px', columns: 16, labelsPosition: 'top'}
        ];
        this.$.form3.responsiveSteps = [
          {columns: 1},
          {minWidth: '500px', columns: 1}
        ];
      }
        }
        customElements.define(OrderItemsEditor.is, OrderItemsEditor);

    </script>
</dom-module>