<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">

<dom-module id="price-item-field">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }
        </style>
<!--<vaadin-combo-box items="[[items]]" id="pricePlan" label="План цен"></vaadin-combo-box>-->
<vaadin-combo-box items="[[items]]" id="service" label="Service"></vaadin-combo-box>
<vaadin-combo-box items="[[items]]" id="unit" label="Unit"></vaadin-combo-box>
<vaadin-combo-box items="[[items]]" id="price" label="Price"></vaadin-combo-box>
</template>

    <script>
        class PriceItemField extends Polymer.Element {
            static get is() {
                return 'price-item-field';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(PriceItemField.is, PriceItemField);
    </script>
</dom-module>