<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/vaadin-date-picker/src/vaadin-date-picker.html">
<link rel="import" href="../../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../../bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">
<link rel="import" href="../../../../bower_components/vaadin-radio-button/src/vaadin-radio-group.html">
<link rel="import" href="../../../components/utils-mixin.html">
<link rel="import" href="../../../components/buttons-bar.html">
<link rel="import" href="../../../../styles/shared-styles.html">
<link rel="import" href="../../../../bower_components/vaadin-button/src/vaadin-button.html">

<dom-module id="repayment-editor">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }

            .secondary {
                font-size: var(--lumo-font-size-s);
                line-height: 1;
                font-weight: 500;
                color: var(--lumo-secondary-text-color);
                margin-top:1em;
                margin-botom:0.5em;
                transition: color 0.2s;
                text-overflow: ellipsis;
            }

        </style>
<h4>Платежи</h4>
<vaadin-vertical-layout style="width: 100%; height: 100%;">
 <vaadin-date-picker id="date" label="Дата платежа"></vaadin-date-picker>
 <vaadin-text-field id="sum" label="Сумма"></vaadin-text-field>
 <!--<span>Форма оплаты</span>-->
 <label slot="" style="font" class="secondary">Форма оплаты</label>
 <vaadin-radio-group id="payment" theme="vertical"></vaadin-radio-group>
</vaadin-vertical-layout>
<buttons-bar>
 <vaadin-button id="cancelBtn" slot="left">
   Отменить 
 </vaadin-button>
 <vaadin-button id="addBtn" theme="primary" slot="right">
   Добавить 
 </vaadin-button>
</buttons-bar>
</template>

    <script>
        class RepaymentEditor extends Polymer.Element {
            static get is() {
                return 'repayment-editor';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(RepaymentEditor.is, RepaymentEditor);
    </script>
</dom-module>